AWS_REGION=sa-east-1
STACK_NAME=weather-data-pipeline-dev
ENVIRONMENT=dev
OPENWEATHER_UNITS=metric
OPENWEATHER_LANG=pt_br
OPENWEATHER_PRODUCTS=current_weather
OPENWEATHER_API_KEY=SUA_API_KEY_AQUI
OPENWEATHER_API_KEY_PARAMETER_NAME=/weather-data-pipeline/dev/openweather-api-key